---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-ingress-nginx
  namespace: kube-system
spec:
  valuesContent: |-
    {{ (rke2_ingress_nginx_default_config | combine(rke2_ingress_nginx_user_config, recursive=True)) | to_yaml(indent=4) }}
