---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-ingress-nginx
  namespace: kube-system
spec:
  valuesContent: |-
    controller:
      publishService:
        enabled: true
      extraArgs:
        tcp-services-configmap: "$(POD_NAMESPACE)/tcp-services"
        udp-services-configmap: "$(POD_NAMESPACE)/udp-services"
      config:
        use-proxy-protocol: "false"
{% if rke2_nginx_tcp_services is defined and rke2_nginx_tcp_services %}
    tcp:
{% for service in rke2_nginx_tcp_services %}
      {{ service.port }}: "{{ service.name }}/{{ service.name }}:{{ service.port }}"
{% endfor %}
{% endif %}
{% if rke2_nginx_udp_services is defined and rke2_nginx_udp_services %}
    udp:
{% for service in rke2_nginx_udp_services %}
      {{ service.port }}: "{{ service.name }}/{{ service.name }}:{{ service.port }}"
{% endfor %}
{% endif %}
