apiVersion: v1
kind: Config
preferences: {}

clusters:
- cluster:
    certificate-authority-data: {{ rke2_ca_cert | b64encode }}
    server: {{ rke2_api_fqdn }}
  name: {{ rke2_cluster_name }}

contexts:
- context:
    cluster: {{ rke2_cluster_name }}
    user: {{ rke2_cluster_name }}-admin
  name: {{ rke2_cluster_name }}-admin

current-context: cluster-admin-context

users:
- name: {{ rke2_cluster_name }}-admin
  user:
    client-certificate-data: {{ rke2_kubeconfig_cert | b64encode }}
    client-key-data: {{ rke2_kubeconfig_key | b64encode }}
