---
server: https://{{ rke2_api_ip }}:{{ rke2_registration_port }}
token: {{ rke2_token }}
{% if rke2_selinux %}
selinux: true 
{% endif %}
{% if rke2_role == 'server' %}
tls-san: {{ rke2_api_fqdn }},{{ rke2_api_ip }}
disable-cloud-controller: true
{% if rke2_disable_components is defined %}
disable: {{ rke2_disable_components }}
{% endif %}
{% if groups.agents is defined and groups.agents | length > 0 %}
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
{% endif %}
{% endif %}
